@import "tailwindcss";
body {
  background: linear-gradient(to bottom right, crimson, rgb(0, 0, 44));
  background-attachment: fixed; 
  background-size: cover; 
  height: auto;
  min-height: 100vh; 
  margin: 0;
  padding: 0;
  
}

blockquote {
  font-family: 'Protest Strike', sans-serif;
  
}



nav{
  position: fixed;  
  font-family: 'Protest Strike', sans-serif;
  color: rgb(204, 37, 65);
  width: 100%;
  top: 0;
  left: 0;
  max-width: 100vw;
  overflow: hidden;
  background: rgb(6, 41, 70);
  z-index: 1000;
  
}
h2{
  font-family: 'Protest Strike', sans-serif;
  background: linear-gradient(to bottom right, crimson, rgb(20, 2, 6));
}

@media (max-width: 768px) {
  body {
    padding: 10px;
  }
}

html, body {
  overflow-x: hidden; 
  width: 100%; 
}

.container {
  max-width: 100vw; 
}

#day1table {
  background: linear-gradient(to bottom right, crimson, rgb(20, 2, 6));
  font-family: 'Protest Strike', sans-serif;
  
  
}
.content {
  flex: 1;
}
footer {
  text-align: center;
  padding: 10px;
  background: linear-gradient(to bottom right, crimson, rgb(20, 2, 6));
  font-family: 'Protest Strike', sans-serif;
}

#scoreBG{
  background: linear-gradient(to bottom right, rgb(6, 8, 129), rgb(20, 2, 6));
}
#LineUpBG{
  background: linear-gradient(to bottom right, rgb(6, 8, 129), rgb(20, 2, 6));
}